In [54]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date, timedelta, datetime

In [55]:
import pandas as pd

In [56]:
data = pd.read_csv("./AccidentesAviones.csv")

In [57]:
data.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [58]:
data.shape

(5008, 18)

In [59]:
data["registration"].value_counts()

?             272
49              3
SU-AFK          2
2               2
19              2
             ...
CCCP-61663      1
EC-ANR          1
N1301N          1
CS-THB          1
RA-26085        1
Name: registration, Length: 4701, dtype: int64

In [60]:
# eliminamos columna igual al indice
data.drop(columns="Unnamed: 0", inplace=True)

In [61]:
#Hacemos que "fecha" sea datetime
data["fecha"]=pd.to_datetime(data["fecha"])

In [62]:
#Normalizamos la hora
def norm_hora(x):
    x=x.replace("?","00:00")
    x=x.replace("c", "")
    x=x.replace("Z", "")
    x=x.replace("c:", "")
    x=x.replace(" ", "")
    x=x.replace(":", "")
    x=x.replace(";", "")
    return x

data["HORA declarada"] = data["HORA declarada"].apply(norm_hora)

In [63]:
data["HORA declarada"]= pd.to_datetime(data["HORA declarada"], format= "%H%M").dt.time

In [64]:
data.dtypes

fecha                     datetime64[ns]
HORA declarada                    object
Ruta                              object
OperadOR                          object
flight_no                         object
route                             object
ac_type                           object
registration                      object
cn_ln                             object
all_aboard                        object
PASAJEROS A BORDO                 object
crew_aboard                       object
cantidad de fallecidos            object
passenger_fatalities              object
crew_fatalities                   object
ground                            object
summary                           object
dtype: object

In [65]:
data.isna().sum()

fecha                     0
HORA declarada            0
Ruta                      0
OperadOR                  0
flight_no                 0
route                     0
ac_type                   0
registration              0
cn_ln                     0
all_aboard                0
PASAJEROS A BORDO         0
crew_aboard               0
cantidad de fallecidos    0
passenger_fatalities      0
crew_fatalities           0
ground                    0
summary                   0
dtype: int64

In [66]:
# vemos 3682/5008 faltantes en la columna de flight_no asi que no sera utilizada para este análisis
data.drop(columns="flight_no",inplace=True)

In [67]:
#nos aseguramos que no figure ningún vuelo sin tripulación
data[data["crew_aboard"]=="0"]

,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
55,1921-04-06,00:00:00,"Point Cook, Australia",Military - Royal Australian Air Force,?,Avro 504,H3021,?,2,0,0,2,0,0,0,"Shortly after taking off on a training flight,..."
118,1926-11-11,08:00:00,"Cape Bojador, Morocco",Grands Express Aeriens,Casablanca -Dakar,Breguet 14,F-AFAX,198,3,3,0,3,3,0,0,"While en route and cruising along the shore, t..."
495,1938-02-09,00:00:00,"Guadalupe, Mexico",Mexicana,Test flight,Lockheed 10 Electra,XA-BAS,?,2,0,0,2,0,0,0,Crashed on a second test flight.
498,1938-02-22,04:45:00,"Pontoise, France",Deutsche Lufthansa,"Berlin, Germany - Paris, France",Junkers JU.52,D-APAR,4040,3,0,0,3,0,0,0,The mail plane crashed in fog within a few mil...
776,1945-02-23,00:00:00,"Snezka mountains, Poland",Military - German Army,?,Junkers 52/3m,4V+DR,6820,8,8,0,8,8,0,0,Crashed in the Snezka mountains during an ice ...
3144,1981-09-22,12:00:00,"Near Babaeski, Turkey",Military - Turkish Air Force,?,Northrop F-5A,?,?,0,0,0,0,0,0,40,The fighter crashed into a village after the p...
3376,1986-03-27,00:00:00,"Bangui, Central African Republic",Military - French Air Force,?,Sepecat Jaguar A,?,?,0,0,0,0,0,0,35,The jet fighter crashed into a school shortly ...

Estos registros son complicados de interpretar, porque hay aviones que no tuvieron ni pasajeros ni tripulación, por ej que el Breguet 14 haya ido sin tripulación y con 3 pasajeros es complicado ya que es una avioneta con dos espacios, piloto y acompañante.
Debe ser consultado profesionales del tema para procesar estas filas o las inconsistencias entre pasajeros, tripulación y muertes

In [68]:
from deep_translator import GoogleTranslator

In [70]:
#traducimos las descripciones a español 
traductor = GoogleTranslator(source='en', target='es')
data['reporte'] = data['summary'].apply(lambda x: traductor.translate(x))

In [71]:
#vemos que que cuando falta información se agrego el signo "?" y
data.replace("?",None,inplace=True)

In [82]:
data.head()

,fecha,HORA declarada,Ruta,OperadOR,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,reporte
0,1908-09-17,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,None,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...","Durante un vuelo de demostración, un avión del..."
1,1909-09-07,00:00:00,"Juvisy-sur-Orge, France",None,Air show,Wright Byplane,SC1,None,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,Eugene Lefebvre fue el primer piloto en morir ...
2,1912-07-12,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,None,None,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,El primer dirigible estadounidense Akron explo...
3,1913-08-06,00:00:00,"Victoria, British Columbia, Canada",Private,None,Curtiss seaplane,None,None,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,El primer accidente de avión mortal en Canadá ...
4,1913-09-09,18:30:00,Over the North Sea,Military - German Navy,None,Zeppelin L-1 (airship),None,None,20,None,None,14,None,None,0,The airship flew into a thunderstorm and encou...,La aeronave voló hacia una tormenta eléctrica ...

In [111]:
#Dividimos la ruta en Origen, destino y cantidad de escalas
def origen(x):
    if x == None:
        return None
    else:
        x=x.split("-")
        for i in x:
            i=i.strip()
        return x[0]
def destino(x):
    if x == None:
        return None
    else:
        x=x.split("-")
        for i in x:
            i=i.strip()
        return x[-1]
def escalas(x):
    if x == None:
        return None
    else:
        x=x.split("-")
        if x[0]==x[-1]:
            return 0
        else:
            return (int(len(x)-2))

In [112]:
data["origen"] = data["route"].apply(origen)
data["destino"] = data["route"].apply(destino)
data["escalas"] = data["route"].apply(escalas)

In [114]:
data.columns

Index(['fecha', 'HORA declarada', 'Ruta', 'OperadOR', 'route', 'ac_type',
       'registration', 'cn_ln', 'all_aboard', 'PASAJEROS A BORDO',
       'crew_aboard', 'cantidad de fallecidos', 'passenger_fatalities',
       'crew_fatalities', 'ground', 'summary', 'reporte', 'origen', 'destino',
       'escalas'],
      dtype='object')

In [117]:
data.rename(columns={'HORA declarada':"Hora", 'Ruta':"Ruta Accidente", 'OperadOR':"Operador", 'route':"Ruta vuelo", 'ac_type':"Avion",
       'registration':"registro", 'PASAJEROS A BORDO':"Pasajeros a Bordo"},inplace=True)

In [118]:
data.columns

Index(['fecha', 'Hora', 'Ruta Accidente', 'Operador', 'Ruta vuelo', 'Avion',
       'registro', 'cn_ln', 'all_aboard', 'Pasajeros a Bordo', 'crew_aboard',
       'cantidad de fallecidos', 'passenger_fatalities', 'crew_fatalities',
       'ground', 'summary', 'reporte', 'origen', 'destino', 'escalas'],
      dtype='object')

In [121]:
data = data[['fecha', 'Hora', 'Ruta Accidente' , 'Ruta vuelo', 'origen', 'destino', 'escalas','Operador', 'Avion',
       'registro', 'cn_ln', 'all_aboard', 'Pasajeros a Bordo', 'crew_aboard',
       'cantidad de fallecidos', 'passenger_fatalities', 'crew_fatalities',
       'ground', 'summary', 'reporte']]

In [123]:
#borramos la columna cn_ln y summary
data.drop(columns=['cn_ln','summary'],inplace=True)

In [124]:
import pymysql
from sqlalchemy import create_engine
import mysql.connector as connection

In [125]:
cadena_conexion = "mysql+pymysql://root:SQL17Agosto1994@localhost:3306/AccidentesAviones"
conexion = create_engine(cadena_conexion)
data.to_sql(name='TablaAccidentes', con = conexion, if_exists= "replace", index=True)
print("Los archivos pertenecientes al DataFrame se cargaron correctamente")

Los archivos pertenecientes al DataFrame se cargaron correctamente

In [126]:
data.to_csv("Procesado.csv")

In [113]:
from pandasgui import show
show(data)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI

TypeError: arguments did not match any overloaded call:
  move(self, QPoint): argument 1 has unexpected type 'int'
  move(self, int, int): argument 2 has unexpected type 'float'